/*id selector*/
#nick {
    background-color:pink;
}
#address,#phone {
    background-color:orange;
}

/*link styles*/
a:link {
    color:pink;
    text-decoration:none;
}
a:visited {
    color:yellow;
}
a:hover {
    background-color:blue;
}
a:active {
}

body {
    background-color:#f8f7f9;
}

main {
    background-color:#4B0082;
    color:#f8f7f9;
}

hr {
    border:none;
    height:5px;
    background:#f8f7f9;
}

/*heading styles*/
h1 {
    background-color:#4B0082;
    color:#f8f7f9;
}

h2 {
    background-color:#484849;
    color:#f8f7f9;
}
